*{
	margin: 0;
	padding: 0; 
}
body{
	background: #0079bf;
}
header{
	background-color: #026aa7;
	width: 100%;
	overflow: hidden; 
}
.inline{
	display: inline-block;
}
.leftPart{
	margin: 0.5%;
	float: left;
	width: 45%;
}
.tablero{
	background: #4d95bf;
	padding: 1%;
	border-radius: 5px;
	margin-right: 2%;
	color: #fff;
	text-decoration: none;
}
.tablero:hover{
	background: #3385b5;
}
#search{
	background: #4d95bf;
	padding: 1%;
	border-radius: 5px;
	color: #fff;
}
#search:hover{
	background: #71a4ca;
}
#search input{
	border-style: none;
	background: #4d95bf;
}
#search input:hover{
	background: #71a4ca;
}
#search input:focus{
	outline: none;
}
.fa-search{
	display: inline-block;
}

.iconosIzquierda{
	text-align: right;
	margin: 0.5%;
	float: right;
	width: 30%;
}
.info i{
     width: 90%;
     height: 100%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 45%;
     border: 2px solid #fff;
}
ul li{
	background-color: #4d95bf;
	border-radius: 5px;
	width: 5%;
	margin-right: 1%;
	padding: 1%;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
ul li:hover{
	background-color: #3385b5;
}
/*.user h4{
     width: 100%;
     height: 100%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 45%;
     border: 2px solid #fff;
}*/
.centro{
	color: #4d95bf;
}
.centro img{
	opacity: 0.5;
	width: 6%;
	margin: 0.5%;
}
.centro img:hover{
	opacity: 0.8;
}
.firstPart{
	overflow: hidden;
}
.left{
	padding: 1%;
	float:left;
	width: 45%;
}
.right{
	padding: 1%;
	float: right;
	width: 35%;
	text-align: right;
}
.left > i, h3{
	display: inline-block;
	color: #fff;
}
.left i,.left h3{
	padding: 1.5%;
	border-radius: 5px;
	margin-right: 2%;
	color: #fff;
}
.left i:hover,.left h3:hover{
	background: #026aa7;
}
.right a{
	padding: 2%;
	border-radius: 5px;
	margin-right: 2%;
	color: #fff;
}
.right a:hover{
	background: #026aa7;
}

.agregar{
	width: 100%;
	padding: 3% 0 3% 0;
	background: #026aa7;
	border-style: none;
	border-radius: 5px;
}
.agregar::placeholder{
	margin-left: 2%;
	color: #84adc4;
}
.agregar:focus{
	outline: none;
}
.agregar:hover{
	background: #195485;
}
#proyecto{
	border-radius: 5px;
	background: #e2e4e6;
	padding: 1%;
}
#proyecto input{
	display: block;
	width: 92%;
	padding: 3%;
	border-style: none;
}
#proyecto input:focus{
	outline: 2px solid #d5d5d9;
	border-radius: 10px;
}
#proyecto button{
	display: inline-block;
	padding: 3%;
	margin-top: 2%;
	border-radius: 5px;
	border-style: none;
	background: #5aac44;
	color: #fff;
}
#proyecto button:hover{
	background: #3d732e;
}
.fa-times{
	color: #999999;
}
.fa-times:hover{
	color: #252525;
}
/*eventos*/
.oculto{
	display: none;
}
.visible{
	display: block;
}
.col{
	margin-left: 1%;
	width: 22%;
	display: inline-block;
	vertical-align: top;
}
.cont {
	margin-bottom: 2em;
	border-radius: 5px;
	background-color: #e2e4e6;
}
.col p{
	padding: 3%;
}
.tarjeta{
	color: #000;
	display: block;
	background: #d4d5d8;
	padding: 3%;
}
.text{
	display:block;
	margin: 3%;
	width: 90%;
	resize: none;
}
.text2{
	resize: none;
	display:block;
	background-color: #eef2f5; 
	/*border: none;*/
	width: 60%;
	margin: 3%;
}
.add{
	display: inline-block;
	padding: 3%;
	margin: 3%;
	border-radius: 5px;
	border-style: none;
	background: #5aac44;
	color: #fff;
}

